body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: #202020;
  color: whitesmoke;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #e6ddc5;
  
}
.nav-item {
  padding: 15px;
}
.abt-page {
  display: flex;
}
.page {
  padding-bottom: 150px;
}
a {
  text-decoration: none;
  color: #202020;
}
h1 {
  padding-left: 20px;
  
}
h2 {
  font-size: 32px;
}

.flex {
  display: flex;
  justify-content: space-around;
  
}
ul {
  list-style-type: none;
}
.profile {
  padding: 30px;
  margin: 15px;
}
.about-section {
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 25px;
  font-size: 24px;
  color: #e6ddc5;
}
#about {
  padding-left: 50px;
  color: #e6ddc5;
}
.footer-link {
  color:#202020;
  
}
footer {
  padding-bottom: 50px;
  position: static;
  width: 100%;
  bottom: 0;
  display: flex;
  
  align-items: flex-end;
  background-color: #e6ddc5;
  color: #202020;
}
#twitter[href*="https://www.twitter.com/pstenger23"] {
  background: url(https://twitter.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
}
.project-link {
  color: #e6ddc5;
}
.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
}
.navActive {
  color: #00628a;
}
label {
  padding-right: 15px;
  color: #202020;
}
.contact-title {
  color: #202020;
}
.project-text {
  color: #202020;
}
.inputs {
  display: flex;
  padding: 25px;
}
.contact {
  display: flex;
  justify-content: space-around;
  padding-bottom: 95px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #e6ddc5;
  margin-top: 50px;
  padding-bottom: 10px;
  align-items: center;
  border-radius: 15px;
  width: 33%;
}
.project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px;
  margin: 50px;
  background-color: #e6ddc5;
}